<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="AmazonAutomation">
    <listeners>
        <listener class-name="utilities.Reporting"/>
    </listeners>
    <test name ="AmazonApp Test">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="testCases.TC_SearchAndVerify_001"/>
<!--                <class name="testCases.TC_NavBarElement_001"/>-->

            </classes>
        </parameter>
    </test>
</suite>